[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CDVI"]
	path = CDVI
	url = https://github.com/cran/CDVI
[submodule "CGR"]
	path = CGR
	url = https://github.com/cran/CGR
