[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AutoNN"]
	path = AutoNN
	url = https://github.com/cran/AutoNN
[submodule "CDVI"]
	path = CDVI
	url = https://github.com/cran/CDVI
[submodule "CGR"]
	path = CGR
	url = https://github.com/cran/CGR
[submodule "ConsensusCPA"]
	path = ConsensusCPA
	url = https://github.com/cran/ConsensusCPA
[submodule "EasyPCA"]
	path = EasyPCA
	url = https://github.com/cran/EasyPCA
[submodule "PenalReg"]
	path = PenalReg
	url = https://github.com/cran/PenalReg
